@import url(./reset.css);

body{max-width: 900px;
    width:100%;
    margin:0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif

}

#titre{
    font-size: 3.5rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom:2.5rem;
    color: #130a00;
}


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
.card__user{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%; 
    padding:2rem 1rem;
    margin-top: 2rem;
    background-image: linear-gradient(rgba(255, 98, 0, 0.322),rgba(255, 213, 0, 0.364));
    box-shadow: 4px 13px 23px -1px rgba(153,97,28,0.73);
    transition: all .2s ease-in-out
}

.card__user:hover{
    transform: scale(1.065);
}

.profilePhotos img{
    border-radius: 86% 14% 82% 18% / 43% 49% 51% 57%;
    box-shadow: 4px 13px 23px -1px rgba(153,97,28,0.73);
}

h3{
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 1.4rem;
    font-size: 1.15rem;
}
    
.text{
    padding-top: 2rem;
    line-height: 1.25rem;
    letter-spacing: 0.003rem;

}



